.last-section{
    background: #F7F7F7;
    padding-top: rem(100px);
    padding-bottom: rem(145px);
}
.last-section__desc{
    font-size: rem(18px);
    text-align: center;
    margin-bottom: rem(60px);
    color: #858585;
}
.last-section__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include tablets{
        flex-direction: column;
    }
}
.last-section__tel{
    font-size: rem(36px);
    color: #555555;
    margin-bottom: rem(20px);
    text-align: center;
    display: block;
    .bolder{
        font-weight: 500;
        color: #000;
    }
}
.tel-name{
    font-size: rem(18px);
    text-align: center;
    color: #858585;
}
.last-form{
    @include tablets{
        margin-bottom: 20px;
    }
}
